/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  /* width: auto;
  height: auto; */
  width: 100%;
  height: 100%;
  /* width: 400px;
  height: 400px; */
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */  /*카드뉴스 위치 */
.lb-outerContainer {
  
  position: absolute;
  left: 450px;
  /*
  position: absolute;
  left: 50%; transform: translateX(-50%);
 */
  background-color: white;
  *zoom: 1;
  /* max-width: 80%;
  height:80% !important; */
  max-width: 680px;
  max-height: 680px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}



/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  /* margin: 0 auto; */
  margin : 0;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  /* width: 85%; */
  width:100%;
  float: center;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption { /* 제목*/
  /*position:absolute;
  left : 50%; 
  transform: translateX(-150%);
  top :  700px;*/
  position: relative;
  left : 20px;
  top :10px;
  /* position: absolute;
  top: 430px;
  left: 635px; */
  /* position: relative;
  top: 0px;
  left: 625px; */
  /* position: relative;
  top: 0%;
  left: 52%; */
  font-size: 25px; /*글씨 크기*/
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number { /*페이지 숫자*/
  position:relative;
  left : 20px;
  top : 20px;
  /* position: relative;
  top: 0px;
  left: 625px; */
  /* position: absolute;
  top: 440px;
  left: 635px; */
  /* position: relative;
  top: 0%;
  left: 52%; */
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 22px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close { /*버튼 */
  position:relative;
  left : -20px;
  top :  -50px;
  
  /* position: absolute;
  top: 630px;
  left: 400px; */
  /* position: relative;
  top: -50px;
  left: -160px; */
  /* position: absolute;
  top: 430px;
  left: 1030px; */
  /* width: 35px; */
  /* position: relative;
  top: -50%;
  left: -13%; */
  width: 0px;
  height: 0px;
  /* width: 49%; */
  /* width: 49%;
  height: 100%; */
  float: right;
  /* padding-bottom: 0.7em; */
  outline: none;
}


/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}